<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>ClosedSociety.org | мониторинг давления на НКО</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="title" content="Мониторинг давления на НКО">
    <meta property="og:title" content="Мониторинг давления на НКО">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://closedsociety.org">
    <meta property="og:image" content="http://closedsociety.org/assets/img/birds.jpg">
    <meta name="description" content="ИАИ “Закрытое общество” - независимая инициатива, ставящая перед собой задачу вести мониторинг давления на институты гражданского общества в России со стороны государственных органов.">
    <meta property="og:description" content="ИАИ “Закрытое общество” - независимая инициатива, ставящая перед собой задачу вести мониторинг давления на институты гражданского общества в России со стороны государственных органов.">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/animate/animate.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/backgrid.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/extensions/paginator/backgrid-paginator.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/extensions/filter/backgrid-filter.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/select2/select2.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/libertycalendar.css">
  </head>
  <body class="left data">
    <div id="branding"></div>
    <div id="content">
      <div class="limiter">
        <div class="logo">ClosedSociety.org</div>
        <div class="slogan">Мониторинг давления на НКО</div>
        <ul style="display:block;" class="sidebar-menu">
        	<li id="map" class="menu">
            <label>Карта проверок</label><small class="description dd">Проверки некоммерческих организаций органами власти на карте</small>
          </li>
          <li id="data" class="menu">
            <label>База данных</label><small class="description dd">Список некоммерческих организаций проверенных органами власти</small>
          </li>
          <li id="report" class="menu">
            <label>Сообщить о проверке</label><small class="description dd">Сообщите о проверке некоммерческой организации</small>
          </li>
          <li id="calendar" class="menu">
            <label>Календарь судов</label><small class="description dd">Ближайшие суды по проверкам НКО в партнерском проекте радио "Свобода"</small>
          </li>
          <li id="news-radio-liberty" class="menu">
          	<label>Новости Свободы</label><small class="description dd">Власть против НКО: последние новости радиостанции</small>
        	</li>
          <li id="about" class="menu">
            <label>О проекте</label><small class="description dd">Об информационно-аналитической инициативе “Закрытое общество”</small>
          </li>
          <li id="en" class="menu">
            <label>English version</label><small class="description dd">State pressure on NGO's monitoring</small>
          </li>
          <!--<li id="documents" class="menu comingsoon"><span>в разработке</span>
            <label>Документы</label><small class="description dd">Архив документов связанных с проверками некоммерческих организаций</small>
          </li>
          <li id="analytics" class="menu comingsoon"><span>в разработке</span>
            <label>Аналитика</label><small class="description dd">Наша аналитическая оценка сложившейся ситуации с некоммерческими организациями</small>
          </li>-->
        </ul>
        <div class="branding">
          <div class="partners">партнеры проекта</div><a href="http://memo.ru" target="_blank"> <img src="{{site.baseurl}}/assets/img/memo_logo.png"></a><a href="http://sos-hrd.org" target="_blank"> <img src="{{site.baseurl}}/assets/img/cor_logo.png" style="padding-left:5px;"></a><a href="http://yhrm.org" target="_blank"> <img src="{{site.baseurl}}/assets/img/yhrm_logo.png" style="padding-top:10px;"></a>
          <div class="cc"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">ClosedSociety.org</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">data4society</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://closedsociety.org" rel="dct:source">http://closedsociety.org</a>.</div>
        </div>
      </div>
    </div>