<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>ClosedSociety.org | State pressure on NGO's monitoring</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="title" content="State pressure on NGO's monitoring">
    <meta property="og:title" content="State pressure on NGO's monitoring">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://closedsociety.org/en">
    <meta property="og:image" content="http://closedsociety.org/assets/img/birds.jpg">
    <meta name="description" content="Closed society - it's independent project for monitoring of freedom of assosiation in Russia and curent governmental pressure on Russian NGO's in context of “foreigner agent” law.">
    <meta property="og:description" content="Closed society - it's independent project for monitoring of freedom of assosiation in Russia and curent governmental pressure on Russian NGO's in context of “foreigner agent” law.">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/animate/animate.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/backgrid.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/extensions/paginator/backgrid-paginator.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/backgrid/extensions/filter/backgrid-filter.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/bootstrap/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/libs/select2/select2.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/libertycalendar.css">
  </head>
  <body class="left data">
    <div id="branding"></div>
    <div id="content">
      <div class="limiter">
        <div class="logo">ClosedSociety.org</div>
        <div class="slogan en">State pressure on NGO's monitoring</div>
        <ul style="display:block;" class="sidebar-menu">
        	<li id="map" class="menu">
            <label>Inspections map</label><small class="description dd">NGO's inspections map</small>
          </li>
          <li id="data" class="menu">
            <label>Database</label><small class="description dd">Data on NGO's inspections and sanctions</small>
          </li>
          <li id="about" class="menu">
            <label>About</label><small class="description dd">Closed Society mission</small>
          </li>
          <li id="ru" class="menu"><span>
            <label>Русская версия</label><small class="description dd">Мониторинг давления на российские НКО</small>
          </li>
          <!--<li id="documents" class="menu comingsoon"><span>в разработке</span>
            <label>Документы</label><small class="description dd">Архив документов связанных с проверками некоммерческих организаций</small>
          </li>
          <li id="analytics" class="menu comingsoon"><span>в разработке</span>
            <label>Аналитика</label><small class="description dd">Наша аналитическая оценка сложившейся ситуации с некоммерческими организациями</small>
          </li>-->
        </ul>
        <div class="branding">
          <div class="partners">Partners</div><a href="http://memo.ru" target="_blank"> <img src="{{site.baseurl}}/assets/img/memo_logo.png"></a><a href="http://sos-hrd.org" target="_blank"> <img src="{{site.baseurl}}/assets/img/cor_logo.png" style="padding-left:5px;"></a><a href="http://yhrm.org" target="_blank"> <img src="{{site.baseurl}}/assets/img/yhrm_logo.png" style="padding-top:10px;"></a>
          <div class="cc"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">ClosedSociety.org</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">data4society</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://closedsociety.org" rel="dct:source">http://closedsociety.org</a>.</div>
        </div>
      </div>
    </div>